@tailwind base;
@tailwind components;
@tailwind utilities;

/* scroll bar remove */
body {
    -ms-overflow-style: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

img {
    -webkit-user-drag: none;
}

input[type=number].noappearance::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.noappearance {
    width: 3em;
    background-color: #40444b;
    border-top: none;
    border-left: none;
    border-right: none;
    color: white;
    outline: none;
    border-bottom: 2.5px solid #202225;
}

::-webkit-scrollbar {
    display: none;
}